@media (max-width: 1400px) {
    .container {
        width: 1140px;
    }
    .header__nav {
        width: 960px;
    }
    .team__member-img {
        width: 15rem;
    }
}
@media (max-width: 1200px) {
    html {
        font-size: 14px;
    }
    .container {
        width: 960px;
    }
    .header__nav {
        width: 768px;
    }
    .section__image-container {
        flex: 1;
    }
}
@media (max-width: 992px) {
    .container {
        width: 720px;
    }
}
@media (max-width: 768px) {
    .container {
        width: 540px;
    }
}
@media (max-width: 576px) {
    .container {
        width: 100%;
    }
}