@media (max-width: 1400px) {
  .container {
    width: 1140px;
  }
  .header__nav {
    width: 960px;
  }
  .team__member-img {
    width: 15rem;
  }
}
@media (max-width: 1200px) {
  html {
    font-size: 12px;
  }
  .container {
    width: 960px;
  }
  .header__nav {
    width: 768px;
  }
  .section__image-container {
    flex: 1;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 10px;
  }
  .container {
    width: 720px;
  }
  .header__nav {
    width: 576px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 540px;
  }
  .header__nav {
    width: 576px;
    padding: 0 1rem;
  }
  .artists__gallery {
    grid-auto-rows: 15rem;
  }
  .chapters {
    flex-direction: column;
    position: relative;
  }
  .chapters-list {
    flex-direction: row;
    width: 100%;
  }
  .chapters-list__item {
    flex: 1;
  }
  .section__wrapper {
    flex-direction: column-reverse;
  }
  .section__info {
    gap: 2rem;
  }
  .faq__wrapper {
    flex-direction: column;
  }
  .faq__left {
    flex-direction: row;
    justify-content: space-around;
  }
  .team__member {
    padding: 1rem;
  }
}
@media (max-width: 576px) {
  html {
    font-size: 14px;
  }
  .container {
    width: 90%;
  }
  .burger {
    display: block;
  }
  .header__nav {
    width: 100%;
    padding: 0;
    display: none;
    height: inherit;
  }
  .header__nav_active {
    display: block;
    height: 100%;
    margin-top: 2rem;
  }
  .header {
    transition: 0.3s all ease;
    background-color: rgba(0, 0, 0, 0.796);
    position: fixed;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 1rem;
    height: 4rem;
    top: 0;
  }
  .header_active {
    height: 50vh;
  }
  .header__links-container {
    flex-direction: column;
    align-items: flex-end;
  }
  .header__anchor-container {
    flex-direction: column;
    align-items: flex-end;
  }
  .header__anchor {
    font-size: 1rem;
  }

  .nft__wrapper {
    flex-direction: column;
  }
  .nft__left {
    width: 100%;
  }
  .nft__right {
    width: 100%;
  }
  .nft__image {
    margin: 0 auto;
  }

  .artists__gallery {
    grid-template-columns: 1fr 1fr;
  }

  .chapters-list {
    top: 4rem;
    position: sticky;
  }

  .chapters-list__item {
    overflow: hidden;
    min-width: 0;
    white-space: nowrap;
    padding: 1rem 0.5rem;
    display: block;
    text-overflow: ellipsis;
  }
  .chapters-list__item.active {
    flex: 3;
    padding: 1rem;
  }
  .chapters__info {
    padding: 1rem;
    flex-direction: column;
  }

  .chapters__img {
    max-width: 100%;
    object-fit: contain;
  }

  .phase-block {
    width: 100%;
  }
  .phase-block::before {
    background-size: cover;
    background-repeat: no-repeat;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    top: -50%;
  }
  .partners__logo-wrapper {
    width: 100%;
  }

  .partners__logo {
    width: 100%;
    height: 100%;
  }

  .faq__left {
    flex-direction: column;
  }
  .faq__img {
    width: 100%;
  }
  .faq__right {
    padding: 1rem;
  }

  .team__wrapper {
    grid-template-columns: 1fr;
  }
  .team__member {width: 100%;}
  .team__member-img {
    width: 100%;
  }

  .footer__wrapper {
    flex-direction: column;
    gap: 1rem;
  }
  .footer__left {
    order: 1;
    flex-direction: row;
  }
  .placeholder__wrapper {
    flex-direction: column-reverse;
    gap: 5rem;
  }
}
